<td class="completedIcon">
    <input class="toggle glyphicon glyphicon-ok" type="checkbox" {{#if completed}}checked="checked"{{/if}} >
</td>
<td>
    <label>{{title}}</label>
    <input class="title form-control" value="{{title}}">
</td>
<td class="destroyIcon">
    <a class="destroy glyphicon glyphicon-trash"></a>
</td>