<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Todo application on the Backbone with Marionette !</title>

<!-- Bootstrap -->
<link href="../../../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../todoApp.css" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <h1>Todo application on the Backbone with Marionette !</h1>

    <div id="todoApp">

        <div id="todoInputView">
        </div>

        <div id="todosView">
        </div>

    </div>

    <script src="../../../vendor/jquery/js/jquery.js"></script>
    <script src="../../../vendor/underscore/js/underscore.js"></script>
    <script src="../../../vendor/JSON-js/js/json2.js"></script>
    <script src="../../../vendor/bootstrap/js/bootstrap.js"></script>
    <script src="../../../vendor/backbone/js/backbone.js"></script>
    <script src="../../../vendor/backbone.wreqr/js/backbone.wreqr.js"></script>
    <script src="../../../vendor/backbone.babysitter/js/backbone.babysitter.js"></script>
    <script src="../../../vendor/backbone.marionette/js/backbone.marionette.js"></script>
    <script src="./todoApp.js"></script>
    <script type="text/html" id="inputTemplate">
        <div class="form-group">
            <div>
                <input id="title" class="form-control" placeholder="What needs to be done ?" autofocus="autofocus">
            </div>
        </div>
    </script>
    <script type="text/html" id="todosTemplate">
        <table id="todoCollection" class="table table-hover">
        </table>
    </script>
    <script type="text/html" id="todoTemplate">
        <td class="completedIcon">
            <input class="toggle glyphicon glyphicon-ok" type="checkbox" <%= completed ? 'checked="checked"' : '' %> />
        </td>
        <td>
            <label><%- title %></label>
            <input class="title form-control" value="<%- title %>">
        </td>
        <td class="destroyIcon">
            <a class="destroy glyphicon glyphicon-trash" title="remove"></a>
        </td>
    </script>

</body>

</html>
