<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Todos on the Backbone!</title>

<!-- Bootstrap -->
<link href="../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../todoApp.css" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <h1>Todos on the Backbone!</h1>

    <div id="todoApp">

        <div id="todoInputView" >
            <div class="form-group">
                <div>
                    <input id="title" class="form-control" placeholder="What needs to be done ?">
                </div>
            </div>
        </div>

        <div id="todosView">
            <table id="todoCollection" class="table table-hover">
            </table>
        </div>

    </div>

    <script src="../../../vendor/jquery/js/jquery.min.js"></script>
    <script src="../../../vendor/underscore/js/underscore.js"></script>
    <script src="../../../vendor/JSON-js/js/json2.js"></script>
    <script src="../../../vendor/bootstrap/js/bootstrap.js"></script>
    <script src="../../../vendor/backbone/js/backbone.js"></script>
    <script src="./todoApp.js"></script>

    <script type="text/template" id="todoTemplate">
        <td class="completedIcon">
            <input class="toggle glyphicon glyphicon-ok" type="checkbox" <%= completed ? 'checked="checked"' : '' %> />
        </td>
        <td>
            <label><%- title %></label>
            <input class="title form-control" value="<%- title %>">
        </td>
        <td class="destroyIcon">
            <a class="destroy glyphicon glyphicon-trash" title="remove"></a>
        </td>
    </script>

</body>

</html>
