<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Todo application on AngularJS !</title>

<!-- load style sheet -->
<link href="../../../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../todoApp.css" rel="stylesheet">
<link href="todoApp.css" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <nav id="headerNav" class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<b
                                class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="../">Go to top</a></li>
                                <li class="divider"></li>
                                <li><a href="../backbone/todoApp.html">Go to Backbone</a></li>
                                <li><a href="../backbone.marionette/todoApp.html">Go to Backbone with
                                        marionette</a></li>

                            </ul></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <h1>Todo application on AngularJS !</h1>

    <div id="todoApp" ng-app="todoApp" ng-controller="TodoCtrl">

        <div id="todoInputView">
            <div class="form-group">
                <div>
                    <input class="form-control" placeholder="What needs to be done ?"
                        autofocus="autofocus" ng-model="titleInput" ng-custom-enter="add()">
                </div>
            </div>
        </div>

        <div id="todosView">
            <table id="todoCollection" class="table table-hover">
                <tr ng-repeat="todo in todos" ng-class="{completed: todo.completed, editable: todo == editableTodo}" ng-cloak>
                    <td class="completedIcon">
                        <input type="checkbox" class="toggle glyphicon glyphicon-ok" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
                    </td>
                    <td>
                        <label ng-click="beginEditing(todo)">{{todo.title}}</label>
                        <input class="title form-control" ng-model="todo.title" ng-blur="finishEditing(todo)" ng-custom-focus="todo == editableTodo" ng-custom-enter="doEditing(todo)">
                    </td>
                    <td class="destroyIcon">
                        <a class="destroy glyphicon glyphicon-trash" ng-click="destroy(todo)"></a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    

    <!-- load scripts -->
    <script src="../../../vendor/jquery/js/jquery.js"></script>
    <script src="../../../vendor/bootstrap/js/bootstrap.js"></script>
    <script src="../../../vendor/angular/js/angular.js"></script>
    <script src="../../../vendor/angular-route/js/angular-route.js"></script>
    <script src="../../../vendor/angular-resource/js/angular-resource.js"></script>
    <script src="./customDirectives.js"></script>
    <script src="./todoApp.js"></script>

</body>

</html>
